
/* nav */

.logo{
    width: 7em;
}

/* Fin nav */

/* --------------------------------------------------------- */

/* Page index: toutes les questions */

.containerQuestion{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2% 8%;
}

.left{
    width: 20%;
}

.right{
    width: 80%;
}

.infoFlex{
    display: flex;
    justify-content: space-between;
}

.tag{
    padding: 1% 5%;
    margin-top: 2%;
}

.line{
    background-color: darkgray;
    height: 1px;
    width: 65%;
    margin: auto;
    margin-bottom: 2%;
}

.askQuestion{
    margin-right: 4%;
}

/* Fin page index */

/* --------------------------------------------------------- */

/* Page une seule question */

.active-amber-textarea.md-form label.active {
    color: #ffa000;
}
.amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
}
.amber-textarea.md-form .prefix.active {
    color: #ffa000;
}
.active-amber-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #ffa000;
}

/* Fin page une seule question */

/* --------------------------------------------------------- */